@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: #041528;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.chat-box {
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 25px;
  margin: auto;
  text-align: left;
  padding: 25px;
  padding-bottom: 0;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
}

.messages {
  height: 90%;
}

.input-box {
  font-size: 20px;
  padding: 20px;
  margin: auto;
}

.default-chat {
  color: grey;
}

.typed-chat {
  color: black;
}

.chat-input {
  width: 70vw;
  border-radius: 20px;
  border-width: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  background-color: #FFEF9A;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.your-info {
  width: 30%;
  background-color: #FFEF9A;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  padding: 15px;
  gap: 15px;

}

.info-box {
  background-color: #6aabf5;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.info-box:hover {
  background-color: #d3e6f7a4;
  color: #4282CB;
}

.contact-box {
  background-color: #6aabf5;
  opacity: 0.9;
  color: white;
  font-size: 13px;
  border-radius: 10px;
  padding: 1px;
}


.info-header {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.info-description {
  text-align: left;
  padding-left: 10px;
  padding-top: 0px;
}

.message-box {
  padding: 10px;
  border-radius: 10px;
}

.messages {
  overflow-y: scroll;
}

.message {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 1px;
  width: fit-content;
}

.user-message {
  background-color: wheat;
  color: #4282CB;
  margin-left: auto;
  position: relative;
  max-width: 90%;
}

.other-message {
  background-color: #4282CB;
  color: white;
  max-width: 90%;
}

/* #root {
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
