.about-container {
    text-align: center;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  
  .profile-wrapper {
    margin: auto;
    flex: 1;
    width: 40%;
    
  }
  
  .profile {
    text-align: center;
    /* background-color: rgb(255, 151, 146); */
    border-radius: 50%;
    
  }
  
  .profile img {
    width: 25%; 
    border-radius: 50%;
  }
  
  .profile-wrapper:nth-child(even) {
    justify-content: flex-end; 
  }
  
  .profile-wrapper:nth-child(odd) {
    justify-content: flex-start; 
  } 

.profile ul {
    margin: auto;
    text-align: center;
    border-radius: 10%;
}

 .profile li {
    font-size: 1rem;
    text-align: left;
    list-style-type: circle;
    /* font-weight: bold; */
  }

.profile h1 {
     color: rgb(96, 31, 157);
}

/* 
.prof2 {
    text-align: left;
}

.prof1 {
    text-align: right;
} */
